*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

:root {
    --nav: #fff;
    --btn-color: #000000;
    --imBue: 'Imbue', serif;
    --Poppings: 'Poppins';
    --fontSizeMobNav: '12px';
    --fontSizeHedingMob1: '20px';
    --fontSizeHeadingMob2: '14px';
    }
header{
    width: 100vw;
    height: 250px;
    position: relative;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    z-index: 69;
    position: absolute;
    top: 0px;
    width: 100%;
}
nav a img{
    height: 49px;
    width: 67px;
}
.nav-btn{
    text-align: center;
    text-decoration: none;
    color: var(--nav);
    font-size: var(--fontSizeMobNav);
    font-family: var(--imBue);
    width: 20%;
}
.sticky{
    position: absolute;
    top: 0;
    width: 100%;
}
#myVideo{
    width: 100vw;
}
header section{
    width: 218px;
    height: 160px;
    background-color: var(--nav);
    position: relative;
    top: 1.5rem;
    left: 49%;
    margin-top: -50%;
    margin-left: -100px;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: var(--Poppings);
    text-transform: uppercase;
    text-align: center;
}
section h1{
    font-family: var(--imBue);
    font-size:22px;
    
}
.littleText{
    font-size: 8px;
}
.orderSpan{
    font-size: 10px;
    font-weight:600;
}
.telNumber{
    width: 146px;
    height: 22px;
    font-size: 10px;
    font-weight: 700;
    position: relative;
    background-color: var(--btn-color);
    color: var(--nav);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 3px;
}
.telNumber img{
    width: 13px;
    height: 12px;
   
}

.welcome{
    width: 100%;
    padding: 35px;
    position: relative;
}
.welcome img{
    width: 100%;
    height: max-content;
}
.h4Welcome{
    text-align: center;
    font-family: var(--imBue);
    font-size: var(--fontSizeHedingMob1);
    margin-top: 30px;
}
.h4Welcome span{
    text-transform: uppercase;
}
#ilustration2{
    width: 200px;
    position: absolute;
    opacity: 0.2;
    top: -7%;
    right: 0%;
    z-index: -69;
}
.welcome p{
    text-align: center;
    padding: 50px 15px;
    font-family: var(--Poppings);
    color: #3B3737;
}
.h2TagDishes{
    font-family: var(--imBue);
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.dishes{
    text-align: center;
    font-family: var(--Poppings);
}
.dishes img{
    width: 80%;
    position: relative;
}
.dishes h6{
    font-size: var(--fontSizeHeadingMob2);
}
.dishes p{
    padding: 5px 50px 30px 50px;
    color: #3B3737;
}
.middle-btn{
    width:200px ;
    height: 28px;
    border-style: none;
    border-radius: 4px;
    background-color: var(--btn-color);
    color: var(--nav);
    font-family: var(--Poppings);
    font-weight: 700;
    font-size: 12px;
    box-shadow: 1px 1px 5px 1px gray;
    margin: auto;
    padding: 5px 10px ;
    text-decoration: none;
}
.form-btn{
    width: 100px;
    
}
.middle-btn:hover{
    background-color: #7BA7D2;
    cursor: pointer;
}
.inForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: center;
    height: auto;
    padding: 5px 10px ;
}
#location{
    position: relative;
    text-align: center;
}
#location h5{
    padding-bottom: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: var(--Poppings);
    font-weight: 800;
    text-decoration: underline;
}
#location h3{
    padding: 20px;
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 80px ;
}
.womanWithBike{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 500px;
    z-index: -69;
    opacity: 0.4;
}
.locationInfo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    display: none;
    position: relative;
    width: 100%;
    margin: auto;
}
#location img{
    margin: auto;
    width: 100%;
}

.paragrafForLocation{
    padding-bottom: 20px;
    text-align: center;
    padding: 20px;
    font-family: var(--Poppings);
}
.googleMaps{
    width: 95%;
    margin: auto;
}

footer{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    background-color: #3B3737;
    padding: 20px;
    background-color: #7BA7D2;
    font-family: 'Poppins';
    font-size: 12px;
    padding: 55px 20px 20px 35px;
    position: relative;
}
.childFooter{
    color:var(--nav);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 70px;
    z-index: 69;
    width: 30%;
}
.childFooter img{
	opacity: 1;
	width: 5%;
	height: auto;
	margin-bottom: 220px;
}
.childFooter a {
	text-decoration: none;
	color: white;
}
.copyright{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin-left: auto;
    text-align: center;
    width: 200px;
    margin: auto;
    color: var(--nav);
}
footer img{
    position: absolute;
    width: 300px;
    bottom: 9%;
    right: 2%;
    opacity: 0.4;
    z-index: 0;
}
.popUpBackground{
    width: 80%;
    min-height: 300px;
    position: absolute;
    top: 6%;
    left: 10%;
    background-color: var(--nav);
    z-index: 70;
    font-family: var(--Poppings);
}
.xMark{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1%;
    right: 1%;
}
.stroke{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url(./img/Artboard\ 43.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -69;
}
.popUpBackground h1{
    margin: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-size: 25px;
}
.myForm{
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 30px;
}
.myForm input{
    border-style: none;
    border-bottom: 3px solid #707070;
}
.myForm div{
    display: flex;
    justify-content: space-between;
}
.underline{
    text-decoration: underline;
    margin-top: 10%;
    margin-bottom: 10%;
}
.dishesContainer{
    width: 100%;
    text-align: center;
    padding-top: 10% ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.dishesContainer h1{
    width: 100%;
}
.dishContainer{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 3%;
    margin: 10px 70px 10px 70px;
    
}
.pTagMenu{
    color: #3B3737;
    font-size: 10px;
    font-family: var(--Poppings);
}
.type{
    font-family: var(--imBue);
    color: #B4D5CD;
    font-size: 10px;
    text-transform: uppercase;
}
#header{
    width: 100vw;
    height: 250px;
    position: relative;
    margin-bottom: 30%;
    margin-top: 1px;
    margin-bottom: 50%;    
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    z-index: 59;
}
#nav a img{
    height: 49px;
    width: 67px;
}
.nav-btn-menu{
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-size: var(--fontSizeMobNav);
    font-family: var(--imBue);
    width: 20%;
}
#section{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    position: relative;
    padding: 30px 10px;
    margin: auto;
    top: 35%;
}
#section p{
    width: 70%;
    text-align: center;
    margin: auto;
    line-height: 1.3;
    color: #3B3737;
	font-family: var(--Poppings);

}
#section div{
    background-color: #7BA7D2;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0%;
}
#background{
    position: absolute;
    width: 100%;
    left: 3em;
    top: 30%;
}
@media screen and (min-width: 600px)  {
    #header{
        width: 100%;
        max-width: fit-content;
        height: 250px;
        position: relative;
        margin: auto;
        margin-bottom: 30%;
        margin-top: 1px;
    }
    #nav{
        width: 100%;
        gap:1vw;
        margin:0;
        padding:0 ;
    }
    #nav a img{
        width: 147px;
        height: 107px;
    }
    .nav-btn-menu{
        font-size: 22px;
        cursor: pointer;
        font-family: var(--imBue);
    }
    #section{
        width: 30%;
        padding: 39px;
        top: 50%;
    }
    
    header{
        width: 100vw;
        max-width: fit-content;
        height: 768px;
        position: relative;
    }
    header nav{
        gap: 1vw;
        margin: 0;
        padding: 0;
    }
    nav a img{
        width: 147px;
        height: 107px;
    }
    .nav-btn{
        font-size: 22px;
        cursor: pointer;
    }
    header section{
        width: 600px;
        height: 324px;
        position: absolute;
        top: 24%;
        left: 0;
        right: 0;
        margin: 0 auto ;
    }
    #myVideo{
        width: 100vw;
        max-width: 100%;
    }
    section h1{
        font-size:50px;
        text-align: center;
        width: 100%;
        line-height: 0.8;
        
    }
    .littleText{
        font-size: 12px;
    }
    .orderSpan{
        font-size: 16px;
        
    }
    .telNumber{
        width: 186px;
        height: 36px;
        font-size: 15px;
    }
    .telNumber i{
        width: 30px;
        height: 20px;
    }
    .telNumber:hover{
        background-color: #7BA7D2 ;
        cursor: pointer;
    }
    .welcome{
        width: 100%;
        padding: 35px;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 10%;
    }
    .welcome img{
        width: 505px;
        margin-left: 8%;
    }
    .h4Welcome{
        margin: 20px;
        margin-top: 100px;
        bottom: 20px;
        font-size: 60px;
        padding-top: 100px;
    }
    .welcome p{
        width: 55%;
        padding-top:0px ;
        text-align: center;
        font-size: 18px;
    
    }
    #ilustration2{
        width: 601px;
        height: 1102px;
        position: absolute;
        opacity: 0.2;
        top: 3%;
        right: 0%;
        z-index: -69;
    }
    .h2TagDishes{
        font-size: 40px;
        padding: 20px;
    }
    .dishes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-bottom: 50px;
    }
    .dishes img{
        width: 300px;
        max-width: 300px;
        height: 300px;
    }
    .dishes div{
        display: flex;
        flex-direction: column;
    }
    .dishes div h6{
        text-align: start;
        margin-top: 10%;
        font-size: 24px;
    }
    .dishes div p{
        text-align: start;
        width: 300px;
        margin-top: 3%;
        font-size: 16px;
        line-height: 1.5;
        padding: 0;
        
    }
    #location h3{
        font-size: 40px;
    }
    .locationInfo{
        padding: 20px;
        width: 85%;
    }
    #location h5{
        text-decoration: none;
        width: fit-content;
        margin: auto;

    }
    #location h5:hover{
        text-decoration: underline;
    }
    #location img{
        margin: auto;
        width:35%;
        max-height: 454px;
    }
    .paragrafForLocation{
        text-align: center;
        width: 80%;
        margin: auto;
        padding: 20px;
    }
    .googleMaps{
        width: 65%;
        margin: auto;
        padding-left: 5%;
    }
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 15%;
        justify-content: space-between;
        font-size: 20px;
        padding: 55px 75px 55px 75px;
        position: relative;
        text-align: start;

    }
    .contact{
        font-size: 16px;
    }
    .socialMedia{
        font-size: 16px;
    }
    .delivery{
        font-size: 16px;
    }

    footer img{
        position: absolute;
        width: 300px;
        bottom: 9%;
        right: 22%;
        opacity: 0.3;
    }
    .popUpBackground{
        width: 25%;
        height: fit-content;
        position: absolute;
        margin-top: auto;
        left: 75%;
        border-width: 2px;
        bottom: 0%;
        right: 0%;
        background-color: var(--nav);
        border-style:solid;
        border-width: 1px; 
        z-index: 70;
    }
    .stroke{
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        background-image: url(./img/Artboard\ 43.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.3;
        z-index: -69;
    }
    .popUpBackground h1{
        font-family: 'Poppins';
        font-size: 25px;
        display: flex;
        justify-content: center;
    }
    
    .myForm{
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 50px 0 50px 0;
        gap: 30px;
    }
    .myForm input{
        border-style: none;
        border-bottom: 3px solid #707070;
    }
    .myForm div{
        display: flex;
        justify-content: space-between;
    }

   
    .dishesContainer{
        width: 80%;
        text-align: center;
        padding-top: 10% ;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin: auto;
        
    }
    
    .dishesContainer h1{
        width: 100%;
        color: #7BA7D2;
    }
    .dishContainer{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 3%;
        width: 30%;
        margin: 10px 70px 10px 70px;
        
    }
    .pTagMenu{
        color: #3B3737;
        font-size: 15px;
        font-family: var(--Poppings);
    }
    .type{
        font-family: var(--imBue);
        color: #B4D5CD;
        font-size: 20px;
        text-transform: uppercase;
    }
}

